.title{
	-fx-font-weight: bold;
	-fx-text-fill:#5370c9;
	-fx-font-size: 20.0px;
	-fx-padding: 10.0 0.0 0.0 10.0;
	-fx-wrap-text: true;
}

.ingredients{
	-fx-font-weight: bold;
	-fx-text-fill: White;
	-fx-font-size: 14.0px;
	-fx-padding: 10.0 0.0 0.0 10.0;
	-fx-wrap-text: true;
}


