.text-field
{
	-fx-background-color:white;
	-fx-font-size:15;
	-fx-text-fill:#5370c9;
}

.text-field:hover{
	-fx-border-color:blue;
	-fx-border-width: 1 1 1 1;
  -fx-background-insets: 0;
}

.text-field:error{
  -fx-border-color: red ;
  -fx-border-width: 1 1 1 1;
}
